.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10vw;
  margin-top: 5vw;
  z-index: 1;
}

.footerButton {
  display: flex;
  font-size: 2.5em;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  width: 50px;
}

.listContainer {
  display: flex;
  padding: 0;
}

.listElement {
  margin: 0 10px;
  list-style: none;
  padding: 0;
  width: 50px;
}

/* button:hover{
    color: rgb(6, 157, 177);
  } */

.link {
  color: #202020;
}

.link:hover {
  text-decoration: none;
  color: #787878;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.bottom {
  margin-top: -7.5px;
}
